.jobsWrapper {
    background: #f5f5f5;
}
.searchWrapper {
    position: relative;
    padding: 15px;
}
.searchWrapper input{
    height: 42px;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 30px;
    width: 100%;
}
.jobsContentWrapper {
    display: flex;
}

.leftJobPanel {
    width: 300px;
    padding: 0 16px;
}
.rightJobPanel {
    width: calc( 100% - 325px );
    padding: 10px;
    background: #fff;
    margin-left: 10px;
}
.boxShadow {
    box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
}

/* filte block  */
.filterBlock {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
}
.filterBlockHeading {
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
}

/* .rightJobPanel */
.rightPanel__header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.rightPanel__headerLeft {
    font-weight: 600;
}
.rightPanel__headerRight {
    display: flex;
}
.rightPanel__headerRight > span{
     color: #ccc;
     margin-right: 20px;
     display: inline-block;
}
.rightPanel__headerRight ul {
    display: flex;
}
.rightPanel__headerRight li {
     margin-right: 20px;
     cursor: pointer;
     text-transform: capitalize;
}
.rightPanel__headerRight li a {
    color: #000;
}
.jobsListings {
    padding: 10px;
}


.filterItem {
    cursor: pointer;
}
.dropdownFirstOption {
    text-transform: capitalize;
}
.expandIcon {
    border-radius: 7px;
    background: #bdbdbd;
    width: 25px;
    height: 25px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
.job_title {
    font-weight: 600;
    margin-bottom: 2px;
}
.job_less_detail > span {
    padding: 0px 10px;
    display: inline-block;
    border-right: 2px solid #999;
    line-height: 14px;
    font-weight: 400;
}
.job_less_detail > span:first-child {
    padding-left: 0;
}
.job_less_detail > span:last-child {
    border-right: 0;
}
.jobMoreDetails {
    padding: 15px 15px;
}
.jobDetailPanel {
    display: flex;
    justify-content: space-between;
}
.jobDetailPanel > div {
    width: 70%;
    margin-bottom: 15px;
}

.jobDetailPanel .title {
    font-weight: 600;
    width: 30%;
}
.rightData {
    display: flex;
    justify-content: space-between;
}
.rightData > div {
    width: 60%;
}
.rightData > div:last-child {
    width: 20%;
}
.rightData button {
    margin-bottom: 10px;
}

.desktopHideMenuIcon {
    display: none;
}
@media(max-width: 992px) {
    .leftJobPanel {
        position: fixed;
        width: 300px;
        left: -300px;
        z-index: 11;
        box-shadow: 2px 0px 5px 0 rgba(0,0,0,.2);
        background: #fff;
        height: 100%;
        overflow-y: auto;
        padding: 0;
        top: 74px;
        transition: transform .3s ease;
        transform: translateX(0);
    }
    .leftJobPanel.active {
        transform: translateX(300px);
    }
    .rightJobPanel {
        width: 100%;
    }
    .desktopHideMenuIcon {
        display: inline-block;
        position: absolute;
        left: 9px;
        top: 15px;
        z-index: 11;
        padding: 10px;
        background: #ccc;
        border-radius: 4px;
        border: 1px solid #efefef;
        width: 50px;
    }
    .searchWrapper {
        padding-left: 70px;
    }
    .rightPanel__headerRight ul {
        flex-wrap: wrap;
    }
}