.ant-collapse {
    background-color: transparent;
    border: none;
}
.ant-collapse > .ant-collapse-item {
    border: none;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    position: relative;
    padding: 12px 50px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    top: 10px !important;
    left: 11px;
}
.ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
}

.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
    padding-left: 12px;
    border-bottom: 1px solid #efefef;
}